<form [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <hgroup>
    <h1 class="title">Create account</h1>
    <p class="subtitle">Let’s get you started sharing your links!</p>
  </hgroup>
  <div class="main">
    <label>
      Email address
      <div class="input-box"
        [class.invalid]="(email?.hasError('required') || email?.hasError('email'))
          && (email?.dirty || email?.touched)">
        <app-mail-icon-svg />
        <input type="email"
          formControlName="email"
          placeholder="e.g. alex@email.com"
          autocomplete="email"
          spellcheck="false"
          required
          email />
        <span class="validation-message"
          *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)">Can’t be
          empty</span>
        <span class="validation-message"
          *ngIf="email?.hasError('email') && (email?.dirty || email?.touched)">Bad format</span>
      </div>
    </label>
    <label>
      Create password
      <div class="input-box"
        [class.invalid]="(password?.hasError('required') || password?.hasError('minlength'))
          && (password?.dirty || password?.touched)">
        <app-lock-icon-svg />
        <input type="password"
          formControlName="password"
          placeholder="At least 8 characters"
          autocomplete="new-password"
          required
          minlength="8" />
        <span *ngIf="password?.hasError('required') && (password?.dirty || password?.touched)"
          class="validation-message">Can’t be empty</span>
        <span *ngIf="password?.hasError('minlength') && (password?.dirty || password?.touched)"
          class="validation-message">Too short</span>
      </div>
    </label>
    <label>
      Confirm password
      <div class="input-box"
        [class.invalid]="form.hasError('passwordMismatch')
      && (passwordConfirm?.dirty || passwordConfirm?.touched)">
        <app-lock-icon-svg />
        <input type="password"
          formControlName="passwordConfirm"
          placeholder="At least 8 characters"
          autocomplete="new-password" />
        <span *ngIf="form.hasError('passwordMismatch')
          && (passwordConfirm?.dirty || passwordConfirm?.touched)"
          class="validation-message">Mismatch</span>
      </div>
    </label>
    <p class="validation-helper">Password must contain at least 8 characters</p>
    <button type="submit"
      [disabled]="form.invalid">Create new account</button>
    <p class="footer">Already have an account? <br hidden><a routerLink="/login">Login</a></p>
  </div>
</form>
